[flake8]

exclude =
    .git,
    __pycache__,
    build,
    dist,
    .eggs,
    .tox,
    .venv,
    .env,
    *.egg-info,
    *.egg,
    *.pyc,
    *.pyo,
    *.pyd,
    *.db,
    *.sqlite3,
    *.log

# general flake8
max-line-length = 99
max-complexity = 10

# vulture
vulture-min-confidence = 90

# radon
radon-max-cc = 9  # grade b threshold
radon-no-assert = True

# darglint
strictness = full
docstring_style = numpy
