# Node.js
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.idea/

# Operating System files
.DS_Store
Thumbs.db

# ENV
*.env

# VENV
.venv

# logs
logs/

# python build artifacts
dist/
build/
*.egg-info/
.pypirc