# byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.pytest_cache

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# test coverage reports
htmlcov/
.coverage
.cache

# jupyter notebook checkpoints
.ipynb_checkpoints/

# IDEs
.idea/

# operating system files
.DS_Store
Thumbs.db

# virutal environments
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# logs
logs/

# python build artifacts
dist/
build/
*.egg-info/
*.pypirc
