a2wsgi==1.10.8 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
acres==0.5.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
aiologic==0.14.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
aiosqlite==0.21.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
alembic==1.16.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
annotated-types==0.7.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
anyio==4.9.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
apache-airflow-core==3.0.1 ; python_full_version >= "3.12.8" and python_version < "3.13"
apache-airflow-providers-common-compat==1.7.0 ; python_full_version >= "3.12.8" and python_version < "3.13"
apache-airflow-providers-common-io==1.6.0 ; python_full_version >= "3.12.8" and python_version < "3.13"
apache-airflow-providers-common-sql==1.27.1 ; python_full_version >= "3.12.8" and python_version < "3.13"
apache-airflow-providers-smtp==2.1.0 ; python_full_version >= "3.12.8" and python_version < "3.13"
apache-airflow-providers-standard==1.2.0 ; python_full_version >= "3.12.8" and python_version < "3.13"
apache-airflow-task-sdk==1.0.1 ; python_full_version >= "3.12.8" and python_version < "3.13"
apache-airflow==3.0.1 ; python_full_version >= "3.12.8" and python_version < "3.13"
argcomplete==3.6.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
argon2-cffi-bindings==21.2.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
argon2-cffi==25.1.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
asgiref==3.8.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
asyncio==3.4.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
attrs==25.3.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
backoff==2.2.1 ; python_full_version >= "3.12.8" and python_version < "3.13"
basicauth==1.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
bcrypt==4.3.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
beautifulsoup4==4.13.4 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
blinker==1.9.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
boto==2.49.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
brotli==1.1.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0" and platform_python_implementation == "CPython"
brotlicffi==1.1.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0" and platform_python_implementation == "PyPy"
bs4==0.0.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
businesstimedelta==1.0.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
cadwyn==5.4.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
certifi==2025.4.26 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
cffi==1.17.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
chardet==5.2.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
charset-normalizer==3.4.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
ci-info==0.3.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
click==8.2.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
colorama==0.4.6 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0" and (platform_system == "Windows" or sys_platform == "win32")
colorlog==6.9.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
configobj==5.0.9 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
configparser==7.2.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
contourpy==1.3.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
convertdate==2.4.0 ; python_full_version >= "3.12.8" and python_version < "3.13"
coverage==7.8.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
cron-descriptor==1.4.5 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
croniter==6.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
cryptography==45.0.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
cvxopt==1.3.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
cycler==0.12.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
deprecated==1.2.18 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
dill==0.4.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
distro==1.9.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
dnspython==2.7.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
email-validator==2.2.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
et-xmlfile==2.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
etelemetry==0.3.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
fastapi-cli==0.0.7 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
fastapi==0.115.12 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
filelock==3.18.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
fitz==0.0.1.dev2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
flask==3.1.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
fonttools==4.58.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
frozendict==2.4.6 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
fsspec==2025.5.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
ftfy==6.3.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
googleapis-common-protos==1.70.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
greenlet==3.2.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
grpcio==1.72.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
gunicorn==23.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
h11==0.16.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
holidays==0.74 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
html5lib==1.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
httpcore==1.0.9 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
httplib2==0.22.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
httptools==0.6.4 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
httpx==0.28.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
idna==3.10 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
importlib-metadata==8.7.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
inflate64==1.0.3 ; python_full_version >= "3.12.8" and python_version < "3.13"
iniconfig==2.1.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
investpy==1.0.8 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
itsdangerous==2.2.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
jaraco-classes==3.4.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
jaraco-context==6.0.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
jaraco-functools==4.1.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
jeepney==0.9.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0" and sys_platform == "linux"
jinja2==3.1.6 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
jiter==0.10.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
joblib==1.4.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
jsonschema-specifications==2025.4.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
jsonschema==4.24.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
keyring==25.6.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
kiwisolver==1.4.8 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
klepto==0.2.7 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
lazy-object-proxy==1.11.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
libcst==1.8.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
linkify-it-py==2.0.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
lockfile==0.12.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
looseversion==1.3.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
lunardate==0.2.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
lxml==5.3.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
mako==1.3.10 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
markdown-it-py==3.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
markupsafe==3.0.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
matplotlib==3.10.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
mdurl==0.1.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
methodtools==0.4.7 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
minio==7.2.15 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
mlxtend==0.23.4 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
more-itertools==10.6.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
mpmath==1.3.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
msgspec==0.19.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
multitasking==0.0.11 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
multivolumefile==0.2.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
mystic==0.4.4 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
narwhals==1.41.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
nelson-siegel-svensson==0.5.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
networkx==3.5 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
nibabel==5.3.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
nipype==1.10.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
numpy-financial==1.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
numpy==2.2.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
openai==1.79.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
openpyxl==3.1.5 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
opentelemetry-api==1.34.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
opentelemetry-exporter-otlp-proto-common==1.34.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
opentelemetry-exporter-otlp-proto-grpc==1.34.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
opentelemetry-exporter-otlp-proto-http==1.34.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
opentelemetry-exporter-otlp==1.34.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
opentelemetry-proto==1.34.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
opentelemetry-sdk==1.34.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
opentelemetry-semantic-conventions==0.55b0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
outcome==1.3.0.post0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
packaging==25.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pandas==2.2.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pathlib==1.0.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pathspec==0.12.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
patsy==1.0.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pdfminer-six==20231228 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pdfplumber==0.11.5 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
peewee==3.18.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pendulum==3.1.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pillow==11.2.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
platformdirs==4.3.8 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
playwright==1.52.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
plotly==6.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pluggy==1.6.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pox==0.3.6 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pprintpp==0.4.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
protobuf==5.29.5 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
prov==2.0.0 ; python_full_version >= "3.12.8" and python_version < "3.13"
psutil==7.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
psycopg==3.2.4 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
puremagic==1.29 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
py7zr==0.22.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pybcj==1.0.6 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pycountry-convert==0.7.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pycountry==24.6.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pycparser==2.22 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pycryptodome==3.23.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pycryptodomex==3.23.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pycurl==7.45.4 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pydantic-core==2.33.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pydantic==2.11.5 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pydot==4.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pyee==13.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pygments==2.19.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pyjwt==2.10.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pyluach==2.2.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pymeeus==0.5.12 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pymsteams==0.2.5 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pymupdf==1.25.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pymysql==1.1.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pyodbc==5.2.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pyparsing==3.2.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pypdf==5.2.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pypdfium2==4.30.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pyppmd==1.1.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pysocks==1.7.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pytest-cov==6.1.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pytest-mock==3.14.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pytest==8.4.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
python-daemon==3.1.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
python-dotenv==1.0.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
python-http-client==3.3.7 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
python-multipart==0.0.20 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
python-slugify==8.0.4 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pytz==2025.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pywin32-ctypes==0.2.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0" and sys_platform == "win32"
pywin32==308 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0" and sys_platform == "win32"
pyxnat==1.6.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pyyaml==6.0.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
pyzstd==0.17.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
rdflib==7.1.4 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
referencing==0.36.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
repoze-lru==0.7 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
requests==2.32.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
retryhttp==1.3.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
rich-argparse==1.7.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
rich-toolkit==0.14.7 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
rich==14.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
rpds-py==0.25.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
scikit-learn==1.6.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
scipy==1.15.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
seaborn==0.13.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
secretstorage==3.3.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0" and sys_platform == "linux"
selenium==4.30.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
sendgrid==6.11.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
setproctitle==1.3.6 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
setuptools==80.9.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
shellingham==1.5.4 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
simplejson==3.20.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
six==1.17.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
slack==0.0.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
sniffio==1.3.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
sortedcontainers==2.4.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
soupsieve==2.7 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
sqlalchemy-jsonfield==1.0.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
sqlalchemy-utils==0.41.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
sqlalchemy==1.4.54 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
sqlparse==0.5.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
starkbank-ecdsa==2.2.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
starlette==0.46.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
statsmodels==0.14.4 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
stpstone==2.0.9 ; python_full_version >= "3.12.8" and python_version < "3.13"
structlog==25.4.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
svcs==25.1.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
sympy==1.13.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
tabula-py==2.10.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
tabulate==0.9.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
tenacity==9.1.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
termcolor==3.1.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
text-unidecode==1.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
texttable==1.7.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
threadpoolctl==3.6.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
tqdm==4.67.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
traits==7.0.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
trio-websocket==0.12.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
trio==0.30.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
typer==0.16.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
types-requests==2.32.0.20250602 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
typing-extensions==4.14.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
typing-inspection==0.4.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
tzdata==2025.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
uc-micro-py==1.0.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
unidecode==1.3.8 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
universal-pathlib==0.2.6 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
urllib3==2.3.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
uuid6==2024.7.10 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
uvicorn==0.34.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
uvloop==0.21.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
validate-docbr==1.10.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
watchfiles==1.0.5 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
wcwidth==0.2.13 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
webdriver-manager==4.0.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
webencodings==0.5.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
websocket-client==1.8.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
websockets==15.0.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
werkzeug==3.1.3 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
wget==3.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
wheel==0.45.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
wirerope==1.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
wmi==1.5.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0" and sys_platform == "win32"
workalendar==17.0.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
wrapt==1.17.2 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
wsproto==1.2.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
xlrd==2.0.1 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
xlwt==1.3.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
yfinance==0.2.52 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
zipp==3.22.0 ; python_full_version >= "3.12.8" and python_full_version < "3.13.0"
