acres==0.4.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
annotated-types==0.7.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
anyio==4.9.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
argon2-cffi-bindings==21.2.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
argon2-cffi==23.1.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
asyncio==3.4.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
attrs==25.3.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
backoff==2.2.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
basicauth==1.0.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
bcrypt==4.3.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
beautifulsoup4==4.13.4 ; python_full_version >= "3.12.8" and python_version < "3.14"
boto==2.49.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
brotli==1.1.0 ; python_full_version >= "3.12.8" and python_version < "3.14" and platform_python_implementation == "CPython"
brotlicffi==1.1.0.0 ; python_full_version >= "3.12.8" and python_version < "3.14" and platform_python_implementation == "PyPy"
bs4==0.0.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
businesstimedelta==1.0.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
certifi==2025.4.26 ; python_full_version >= "3.12.8" and python_version < "3.14"
cffi==1.17.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
chardet==5.2.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
charset-normalizer==3.4.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
ci-info==0.3.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
click==8.2.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
colorama==0.4.6 ; python_full_version >= "3.12.8" and python_version < "3.14" and (platform_system == "Windows" or sys_platform == "win32")
configobj==5.0.9 ; python_full_version >= "3.12.8" and python_version < "3.14"
configparser==7.2.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
contourpy==1.3.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
convertdate==2.4.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
coverage==7.8.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
cryptography==45.0.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
cvxopt==1.3.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
cycler==0.12.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
dill==0.4.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
distro==1.9.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
et-xmlfile==2.0.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
etelemetry==0.3.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
filelock==3.18.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
fitz==0.0.1.dev2 ; python_full_version >= "3.12.8" and python_version < "3.14"
fonttools==4.58.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
frozendict==2.4.6 ; python_full_version >= "3.12.8" and python_version < "3.14"
ftfy==6.3.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
greenlet==3.2.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
h11==0.16.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
holidays==0.74 ; python_full_version >= "3.12.8" and python_version < "3.14"
html5lib==1.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
httpcore==1.0.9 ; python_full_version >= "3.12.8" and python_version < "3.14"
httplib2==0.22.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
httpx==0.28.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
idna==3.10 ; python_full_version >= "3.12.8" and python_version < "3.14"
inflate64==1.0.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
iniconfig==2.1.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
investpy==1.0.8 ; python_full_version >= "3.12.8" and python_version < "3.14"
jaraco-classes==3.4.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
jaraco-context==6.0.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
jaraco-functools==4.1.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
jeepney==0.9.0 ; python_full_version >= "3.12.8" and python_version < "3.14" and sys_platform == "linux"
jiter==0.10.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
joblib==1.4.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
keyring==25.6.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
kiwisolver==1.4.8 ; python_full_version >= "3.12.8" and python_version < "3.14"
klepto==0.2.7 ; python_full_version >= "3.12.8" and python_version < "3.14"
looseversion==1.3.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
lunardate==0.2.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
lxml==5.3.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
matplotlib==3.10.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
minio==7.2.15 ; python_full_version >= "3.12.8" and python_version < "3.14"
mlxtend==0.23.4 ; python_full_version >= "3.12.8" and python_version < "3.14"
more-itertools==10.6.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
mpmath==1.3.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
multitasking==0.0.11 ; python_full_version >= "3.12.8" and python_version < "3.14"
multivolumefile==0.2.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
mystic==0.4.4 ; python_full_version >= "3.12.8" and python_version < "3.14"
narwhals==1.41.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
nelson-siegel-svensson==0.5.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
networkx==3.5 ; python_full_version >= "3.12.8" and python_version < "3.14"
nibabel==5.3.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
nipype==1.10.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
numpy-financial==1.0.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
numpy==2.2.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
openai==1.79.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
openpyxl==3.1.5 ; python_full_version >= "3.12.8" and python_version < "3.14"
outcome==1.3.0.post0 ; python_full_version >= "3.12.8" and python_version < "3.14"
packaging==25.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
pandas==2.2.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
pathlib==1.0.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
patsy==1.0.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
pdfminer-six==20231228 ; python_full_version >= "3.12.8" and python_version < "3.14"
pdfplumber==0.11.5 ; python_full_version >= "3.12.8" and python_version < "3.14"
peewee==3.18.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
pillow==11.2.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
platformdirs==4.3.8 ; python_full_version >= "3.12.8" and python_version < "3.14"
playwright==1.52.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
plotly==6.0.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
pluggy==1.6.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
pox==0.3.6 ; python_full_version >= "3.12.8" and python_version < "3.14"
pprintpp==0.4.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
prov==2.0.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
psutil==7.0.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
psycopg==3.2.4 ; python_full_version >= "3.12.8" and python_version < "3.14"
puremagic==1.29 ; python_full_version >= "3.12.8" and python_version < "3.14"
py7zr==0.22.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
pybcj==1.0.6 ; python_full_version >= "3.12.8" and python_version < "3.14"
pycountry-convert==0.7.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
pycountry==24.6.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
pycparser==2.22 ; python_full_version >= "3.12.8" and python_version < "3.14"
pycryptodome==3.23.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
pycryptodomex==3.23.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
pycurl==7.45.4 ; python_full_version >= "3.12.8" and python_version < "3.14"
pydantic-core==2.27.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
pydantic==2.10.6 ; python_full_version >= "3.12.8" and python_version < "3.14"
pydot==4.0.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
pyee==13.0.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
pygments==2.19.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
pyluach==2.2.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
pymeeus==0.5.12 ; python_full_version >= "3.12.8" and python_version < "3.14"
pymsteams==0.2.5 ; python_full_version >= "3.12.8" and python_version < "3.14"
pymupdf==1.25.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
pymysql==1.1.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
pyodbc==5.2.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
pyparsing==3.2.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
pypdf==5.2.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
pypdfium2==4.30.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
pyppmd==1.1.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
pysocks==1.7.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
pytest-cov==6.1.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
pytest-mock==3.14.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
pytest==8.4.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.12.8" and python_version < "3.14"
python-dotenv==1.0.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
python-http-client==3.3.7 ; python_full_version >= "3.12.8" and python_version < "3.14"
pytz==2025.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
pywin32-ctypes==0.2.3 ; python_full_version >= "3.12.8" and python_version < "3.14" and sys_platform == "win32"
pywin32==308 ; python_full_version >= "3.12.8" and python_version < "3.14" and sys_platform == "win32"
pyxnat==1.6.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
pyyaml==6.0.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
pyzstd==0.17.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
rdflib==7.1.4 ; python_full_version >= "3.12.8" and python_version < "3.14"
repoze-lru==0.7 ; python_full_version >= "3.12.8" and python_version < "3.14"
requests==2.32.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
scikit-learn==1.6.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
scipy==1.15.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
seaborn==0.13.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
secretstorage==3.3.3 ; python_full_version >= "3.12.8" and python_version < "3.14" and sys_platform == "linux"
selenium==4.30.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
sendgrid==6.11.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
setuptools==80.9.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
simplejson==3.20.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
six==1.17.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
slack==0.0.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
sniffio==1.3.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
sortedcontainers==2.4.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
soupsieve==2.7 ; python_full_version >= "3.12.8" and python_version < "3.14"
sqlalchemy==1.4.54 ; python_full_version >= "3.12.8" and python_version < "3.14"
starkbank-ecdsa==2.2.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
statsmodels==0.14.4 ; python_full_version >= "3.12.8" and python_version < "3.14"
stpstone==2.0.8 ; python_full_version >= "3.12.8" and python_version < "3.14"
sympy==1.13.3 ; python_full_version >= "3.12.8" and python_version < "3.14"
tabula-py==2.10.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
texttable==1.7.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
threadpoolctl==3.6.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
tqdm==4.67.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
traits==7.0.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
trio-websocket==0.12.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
trio==0.30.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
typing-extensions==4.14.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
tzdata==2025.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
unidecode==1.3.8 ; python_full_version >= "3.12.8" and python_version < "3.14"
urllib3==2.3.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
validate-docbr==1.10.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
wcwidth==0.2.13 ; python_full_version >= "3.12.8" and python_version < "3.14"
webdriver-manager==4.0.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
webencodings==0.5.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
websocket-client==1.8.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
wget==3.2 ; python_full_version >= "3.12.8" and python_version < "3.14"
wheel==0.45.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
wmi==1.5.1 ; python_full_version >= "3.12.8" and python_version < "3.14" and sys_platform == "win32"
workalendar==17.0.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
wsproto==1.2.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
xlrd==2.0.1 ; python_full_version >= "3.12.8" and python_version < "3.14"
xlwt==1.3.0 ; python_full_version >= "3.12.8" and python_version < "3.14"
yfinance==0.2.52 ; python_full_version >= "3.12.8" and python_version < "3.14"
